*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.home:hover{
  background-color: rgb(245, 110, 110);
  color: white;
}
.home{
  transition: tranform 0.5s;
}
.strike{
  text-decoration: line-through;
  color: rgb(128, 125, 125);
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: rgb(116, 1, 116);
}
p{
  color: rgb(92, 1, 92);
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row-1{
  flex-basis: 30%;
  min-width: 300px;
}
.row-1 img{
  max-width: 100%;
  padding: 25px 0;
}
.row-1 h3{
  font-size: 35px;
  line-height: 50px;
  margin: 20px 0;
}
.btn{
  display: inline-block;
  background:rgb(121, 1, 121);
  color: #fff;
  padding: 8px 30px;
  margin: 25px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: rgb(192, 105, 192);
}
.Header{
  background: radial-gradient(#fff,#e2c3ae);
}
.Header .row{
  margin-top: 60px;
}
.categories{
  margin: 70px 0;
}
.col-1{
  flex-basis: 25%;
  min-width: 50px;
  margin-bottom: 30px;
}
.col-1 img{
  width: 90%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-2{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-2 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%); 
}
h5{
  color: rgb(43, 42, 42);
  font-weight: normal;
}
.col-2 p{
  font-size: 14px;
  color: rgb(128, 125, 125);
}
.col-2:hover{
  transform: translate(-5px)
}
